form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #0B1061;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

form .form-label {
    font-weight: bold;
    color: #333;
}

form .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
}


